VITE_SUPABASE_URL=https://tbegswmaqoppdunawhmw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRiZWdzd21hcW9wcGR1bmF3aG13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MjYzMTAsImV4cCI6MjA5NzIwMjMxMH0.vBkk_qHA7clg3yoGykQD3FUHdeit0IfUNCdB-TUUX6k
